body {
    margin: 0;
    padding: 0;
    background: rgb(253, 250, 250);
}

/* HEADER--------------------------------------------- */

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/header.jpg') center no-repeat;
    background-size: cover;

}

.header h1, .header h2 {
    color: azure;
}

.header h1 {
    font-size: 40px;
    
}

/* SIDEBARS------------------------------------------------- */

.sidebar-left {
    grid-area: sidebar-left;
    background: url('../images/side44.jpg') center no-repeat;
    background-size: cover;
}

.sidebar-right {
    grid-area: sidebar-right;
    background: url('../images/side55.jpg') center no-repeat;
    background-size: cover;
}

/* NAVIGATION----------------------------------------- */

.navigation {
    grid-area: navigation;
    background: rgb(205, 233, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(227, 231, 233);
}

.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

select {
    /* margin: 2px; */
    padding: 4px;
    padding-right: 4px;
    width: 85px;
    font-size: 13px;
    border: 2px solid rgb(200, 203, 204);
    background: url('../images/favicon.ico') 90% / 20% no-repeat rgb(248, 246, 246);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#names {
    margin-bottom: 15px;
    
}

/* PIE--------------------------------------------- */

.pie {
    grid-area: pie;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(227, 231, 233);
}

.metadata {
    grid-area: metadata;
    background: rgb(205, 233, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(227, 231, 233);
}

.bubble {
    grid-area: bubble;
    background: rgb(247, 252, 203);
    border: 1px solid rgb(227, 231, 233);
}

.gauge {
    grid-area: gauge;
    background: rgb(247, 129, 139);
    border: 1px solid rgb(227, 231, 233);
}

.wrapper {
    display: grid;
    
    grid-template-columns: 0.7fr 2fr 4fr 0.7fr;
    grid-template-rows: 200px 150px 200px 300px auto;

    grid-template-areas:
        'header header header header'
        'sidebar-left navigation pie sidebar-right'
        'sidebar-left metadata pie sidebar-right'
        'sidebar-left bubble bubble sidebar-right'
        'sidebar-left gauge gauge sidebar-right';

    grid-gap: 3px;

}

@media all and (max-width: 880px) {
    .wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 150px 20vh 30vh 300px auto;
        grid-template-areas:
        "header header"
        "navigation pie"
        "metadata pie"
        "bubble bubble"
        'gauge gauge';
        grid-gap: 5px;
    }
    .sidebar-left, .sidebar-right {
        display: none;
    }
}

@media all and (max-width: 550px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 200px 250px 250px auto;
        grid-template-areas:
        "header header"
        "navigation metadata"
        "pie pie"
        "bubble bubble"
        "gauge gauge";
        grid-gap: 5px;
    }
    .sidebar-left, .sidebar-right {
        display: none;
    }
}

.container-border {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px, solid, rgb(75, 66, 66);
    
}
