<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bacteriofags</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/main.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bromelia.ico') }}">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            
            <h1>BELLY BUTTON</h1>
            <h2>Biodiversity Dashboard</h2>
               
        </div>
        <div class="sidebar-left"></div>
        <div class="sidebar-right"></div>
        <div class="navigation">
            <div class="container-border">
                <div class="choose">
                    <p>Select a sample:</p>
                    <select id="names" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
        </div>
        <div class="pie">
            <!-- <div id="pie-container" class="container-border"> -->
            <div id="pie-container">
                <!-- <div id="pie-container"></div> -->
            </div>
        </div>
        <div class="metadata">
            <div class="container-border">
                <div id="meta">
                    <table>
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="bubble">
            <!-- <div class="container-border"> -->
                <div id="bubble-container"></div>
            <!-- </div> -->
        </div>
        <div class="gauge">
            <!-- <div class="container-border"> -->
                <div id="gauge-container"></div>
            <!-- </div> -->
        </div>
    </div>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>